* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Afacad Flux", sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000;
    align-items: center;
    margin: 10px;

}

.headerabt{
    display: flex;
    gap: 480px;
    padding: 10px;
    background-color: #000;
    align-items: center;
    margin: 10px;
}

.dsa-wizard{
    text-decoration: none;
}

.logo-text {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;
}
.about-abt{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #fff;
    margin-right: 10px;
    transition: opacity .3s ease-in-out;
    font-family: "VT323", monospace;
    font-weight: thin;
    font-style: normal;
    font-size: 30px;
    
}
.abtdiv{
    display: flex;
    align-items: center;
}
.about{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #fff;
    margin-right: 10px;
    transition: opacity .3s ease-in-out;
    font-family: "VT323", monospace;
    font-weight: thin;
    font-style: normal;
    font-size: 24px;
    
}
.about:hover {
    opacity: 0.7;
}

main {
    display: flex;
    flex: 1;
    padding: 30px;
    gap: 10px;
    margin: 20px;
}

.info {
    flex: 0.7;
    border: 2px solid #fff;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "VT323", monospace;
    font-weight: thin;
    font-style: normal;
    font-size: 28px;
      
}
.infoabt{
    border: 2px solid #fff;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "VT323", monospace;
    font-weight: 100;
    font-size: 28px;
}
.onestop{
    font-size: 20px;
}
.chatbot {
    flex: 2;
    border: 2px solid #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    transform-origin: center center;
}
.chatbot iframe {
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1);
    transform-origin: center center;
    zoom: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .info, .chatbot {
        flex: 1 1 100%;
        padding: 10px;
        transform: scale(0.6);
    }
}